flows/SlackToGoogleCalendar/Slack_to_Google_Calendar_AI_Assistant.json
{
  "name": "Slack to Google Calendar AI Assistant",
  "nodes": [
    {
      "credentials": {
        "slackApi": {
          "id": "H8RWtu7aOphSXGk5",
          "name": "Slack account"
        }
      },
      "id": "8c0ad7b0-a88c-4be8-9010-d45e3203e9c0",
      "name": "Slack Message Trigger",
      "parameters": {
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C08NVUQUK8F"
        },
        "options": {},
        "trigger": [
          "message"
        ]
      },
      "position": [
        240,
        464
      ],
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "webhookId": "d8c9a4e7-f3d5-4c2a-9b8e-1234567890ab"
    },
    {
      "id": "filter-slack-messages",
      "name": "Filter Valid Messages",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-channel",
              "leftValue": "={{ $json.channel }}",
              "operator": {
                "operation": "contains",
                "type": "string"
              },
              "rightValue": "C08NVUQUK8F"
            },
            {
              "id": "cond-type",
              "leftValue": "={{ $json.type }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "message"
            },
            {
              "id": "cond-bot",
              "leftValue": "={{ $json.bot_id }}",
              "operator": {
                "operation": "empty",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": ""
            },
            {
              "id": "cond-subtype",
              "leftValue": "={{ $json.subtype }}",
              "operator": {
                "operation": "empty",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": ""
            },
            {
              "id": "cond-thread",
              "leftValue": "={{ $json.thread_ts }}",
              "operator": {
                "operation": "empty",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        464,
        464
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "id": "3cc251c9-728f-417b-a80a-207290d6290e",
      "name": "Parse AI Response",
      "parameters": {
        "jsCode": "// Parse AI Response\nconst inputData = $input.first();\nif (!inputData?.json) {\n  console.log('❌ 沒有輸入數據，停止執行');\n  return [{ json: { status: 'error', error: '沒有輸入數據' } }];\n}\n\nconst aiResponseText = inputData.json.text || inputData.json.output;\nif (!aiResponseText) {\n  console.log('❌ AI 沒有輸出文字，停止執行');\n  return [{ json: { status: 'error', error: 'AI 沒有輸出文字' } }];\n}\n\nlet aiOutput;\ntry {\n  const cleanResponse = aiResponseText.replace(/```json\\n?|```\\n?/g, '').trim();\n  aiOutput = JSON.parse(cleanResponse);\n} catch (error) {\n  console.log('❌ JSON 解析失敗:', error.message);\n  return [{ json: { status: 'error', error: `AI 回應解析失敗: ${error.message}`, rawResponse: aiResponseText, slackUser: 'unknown', slackChannel: 'unknown', slackTimestamp: Date.now().toString() } }];\n}\n\nlet slackData;\ntry {\n  slackData = $('Slack Message Trigger').first().json;\n} catch (error) {\n  console.log('⚠️ 取得 Slack 數據失敗:', error.message);\n  slackData = { text: '無法取得原始訊息', user: 'unknown', channel: 'unknown', ts: Date.now().toString() };\n}\n\nif (!aiOutput.hasEvent || !aiOutput.events || aiOutput.events.length === 0) {\n  console.log('ℹ️ AI 沒有找到事件');\n  return [{ json: { status: 'no_event', message: '未找到有效的日程信息', originalMessage: slackData.text, slackUser: slackData.user, slackChannel: slackData.channel, slackTimestamp: slackData.ts, reasoning: aiOutput.reasoning || '無法識別日程相關內容' } }];\n}\n\nconsole.log(`📅 找到 ${aiOutput.events.length} 個事件，開始處理`);\n\ntry {\n  const processedEvents = aiOutput.events.map((event, index) => {\n    if (!event.title || !event.startDateTime) {\n      console.log(`⚠️ 事件 ${index} 缺少必要欄位 (title=${event.title}, startDateTime=${event.startDateTime})，跳過`);\n      return null;\n    }\n    let startDateTime, endDateTime, isAllDay = false;\n    try {\n      const isAllDayEvent = event.isAllDay === true || (!event.startDateTime.includes('T') && !event.endDateTime.includes('T'));\n      if (isAllDayEvent) {\n        isAllDay = true;\n        startDateTime = event.startDateTime.includes('T') ? event.startDateTime.split('T')[0] : event.startDateTime;\n        endDateTime = event.endDateTime.includes('T') ? event.endDateTime.split('T')[0] : event.endDateTime;\n        if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(startDateTime)) throw new Error(`全天活動日期格式錯誤: ${startDateTime}`);\n        console.log(`✅ 事件 ${index} 全天活動: ${startDateTime}`);\n      } else {\n        const startDate = new Date(event.startDateTime);\n        const endDate = new Date(event.endDateTime);\n        if (isNaN(startDate.getTime()) || isNaN(endDate.getTime())) throw new Error(`無效的日期時間格式: start=${event.startDateTime}, end=${event.endDateTime}`);\n        if (endDate <= startDate) endDate.setTime(startDate.getTime() + 3600000);\n        startDateTime = startDate.toISOString();\n        endDateTime = endDate.toISOString();\n        console.log(`✅ 事件 ${index} 定時活動: ${startDateTime} ~ ${endDateTime}`);\n      }\n    } catch (dateError) {\n      console.log(`⚠️ 事件 ${index} 時間處理失敗: ${dateError.message}，使用明天作為預設`);\n      const tomorrow = new Date(); tomorrow.setDate(tomorrow.getDate() + 1);\n      const dateStr = tomorrow.toISOString().split('T')[0];\n      startDateTime = dateStr; endDateTime = dateStr; isAllDay = true;\n    }\n    const attendees = (event.attendees || []).filter(e => e?.includes('@') && e.includes('.'));\n    const confidence = parseFloat(event.confidence) || 0.5;\n    const description = [event.description || '', '', '📋 來源信息：', `• Slack 訊息: ${slackData.text}`, `• 發送者: <@${slackData.user}>`, `• 頻道: <#${slackData.channel}>`, `• 活動類型: ${isAllDay ? '📅 全天活動' : '⏰ 部分時間活動'}`, `• AI 分析信心度: ${Math.round(confidence * 100)}%`, aiOutput.reasoning ? `• 分析說明: ${aiOutput.reasoning}` : ''].filter(line => line !== '').join('\\n');\n    return { json: { eventIndex: index, title: event.title, description, startDateTime, endDateTime, isAllDay, location: event.location || '', attendees, confidence, confidenceDisplay: `${Math.round(confidence * 100)}%`, reasoning: aiOutput.reasoning || '', originalMessage: slackData.text, slackUser: slackData.user, slackChannel: slackData.channel, slackTimestamp: slackData.ts, status: confidence >= 0.7 ? 'high_confidence' : 'low_confidence' } };\n  }).filter(event => event !== null);\n  if (processedEvents.length === 0) {\n    console.log('⚠️ 所有事件都無效，回傳 no_event');\n    return [{ json: { status: 'no_event', message: '所有事件都無效', originalMessage: slackData.text, slackUser: slackData.user, slackChannel: slackData.channel, slackTimestamp: slackData.ts, reasoning: aiOutput.reasoning || '' } }];\n  }\n  console.log(`🎉 成功處理 ${processedEvents.length} 個事件`);\n  return processedEvents;\n} catch (error) {\n  console.log('❌ 處理事件時發生未預期錯誤:', error.message, error.stack);\n  return [{ json: { status: 'error', error: `處理失敗: ${error.message}`, originalMessage: slackData?.text || 'unknown', slackUser: slackData?.user || 'unknown', slackChannel: slackData?.channel || 'unknown', slackTimestamp: slackData?.ts || Date.now().toString() } }];\n}",
        "mode": "runOnceForAllItems"
      },
      "position": [
        1056,
        464
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "has-valid-event",
      "name": "Has Valid Event",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-has-event",
              "leftValue": "={{ $json.status }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "no_event"
            },
            {
              "id": "cond-not-error",
              "leftValue": "={{ $json.status }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "error"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1168,
        464
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "alwaysOutputData": false,
      "id": "46555180-f9e7-44c4-b114-f941adc13adc",
      "name": "Check Confidence Score",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-conf",
              "leftValue": "={{ $json.confidence }}",
              "operator": {
                "operation": "gte",
                "type": "number"
              },
              "rightValue": 0.7
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1392,
        464
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ERUGcDCTMJESC4hA",
          "name": "Google Calendar account"
        }
      },
      "id": "9b1a9087-efb1-4346-9680-09673497b489",
      "name": "Create Calendar Event",
      "onError": "continueErrorOutput",
      "parameters": {
        "additionalFields": {
          "allday": "={{ $json.isAllDay ? 'yes' : 'no' }}",
          "description": "={{$json.description}}",
          "location": "={{$json.location}}",
          "maxAttendees": 50,
          "sendUpdates": "none",
          "summary": "={{$json.title}}"
        },
        "calendar": {
          "__rl": true,
          "cachedResultName": "abc12207@gmail.com",
          "mode": "list",
          "value": "abc12207@gmail.com"
        },
        "end": "={{$json.endDateTime}}",
        "operation": "create",
        "start": "={{$json.startDateTime}}"
      },
      "position": [
        1616,
        368
      ],
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "slackApi": {
          "id": "H8RWtu7aOphSXGk5",
          "name": "Slack account"
        }
      },
      "id": "d8a44d97-e601-40ea-a28b-cb847da06bcf",
      "name": "Send Success Notification",
      "parameters": {
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C08NVUQUK8F"
        },
        "messageType": "text",
        "operation": "post",
        "otherOptions": {},
        "resource": "message",
        "select": "channel",
        "text": "=✅ *日曆事件已成功創建！*\n\n📅 *{{$json.summary}}*\n{{$json.start.date ? '🗓️ 日期: ' + DateTime.fromFormat($json.start.date, 'yyyy-MM-dd').toFormat('MM月dd日 (cccc)', {locale: 'zh-TW'}) : '🕐 時間: ' + DateTime.fromISO($json.start.dateTime).setZone('Asia/Taipei').toFormat('MM月dd日 (cccc) HH:mm', {locale: 'zh-TW'}) + ' - ' + DateTime.fromISO($json.end.dateTime).setZone('Asia/Taipei').toFormat('HH:mm', {locale: 'zh-TW'})}}\n📍 地點: {{$json.location || '未指定'}}\n{{$json.description ? '📝 備註: ' + $json.description.split('📋 來源信息：')[0].trim() : ''}}\n\n🔗 <{{$json.htmlLink}}|查看事件>\n\n_🤖 由 AI 助手自動創建 • 事件ID: {{$json.id}}_"
      },
      "position": [
        1840,
        368
      ],
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "webhookId": "83e465f1-dfb8-478f-8ac5-ba3ef5c8693c"
    },
    {
      "credentials": {
        "slackApi": {
          "id": "H8RWtu7aOphSXGk5",
          "name": "Slack account"
        }
      },
      "id": "a19c1160-28c0-4c90-acb2-c0cfff0e2fa9",
      "name": "Send Low Confidence Alert",
      "parameters": {
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C08NVUQUK8F"
        },
        "messageType": "text",
        "operation": "post",
        "otherOptions": {},
        "resource": "message",
        "select": "channel",
        "text": "=⚠️ *發現可能的日程，但信心度較低*\n\n📝 *{{$json.title}}*\n🕐 時間: {{$json.startDateTime}}\n📍 地點: {{$json.location || '未指定'}}\n📊 AI 信心度: {{$json.confidenceDisplay}} ({{$json.confidence >= 0.7 ? '高' : '低'}}信心度)\n\n💭 *AI 分析*: _{{$json.reasoning}}_\n\n💡 *建議*: 如需創建日曆事件，請發送更詳細的訊息（包含確切時間、地點等資訊）\n\n_🤖 此為 AI 助手低信心度提醒，不會自動創建事件_"
      },
      "position": [
        1616,
        560
      ],
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "webhookId": "5a05ebc2-d32e-4d41-bac6-75de9245d2d9"
    },
    {
      "credentials": {
        "slackApi": {
          "id": "H8RWtu7aOphSXGk5",
          "name": "Slack account"
        }
      },
      "id": "send-no-event-reply",
      "name": "Send No Event Reply",
      "parameters": {
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C08NVUQUK8F"
        },
        "messageType": "text",
        "operation": "post",
        "otherOptions": {},
        "resource": "message",
        "select": "channel",
        "text": "={{ $json.status === 'error' ? '❌ 處理訊息時發生錯誤\\n\\n💭 *錯誤訊息*: _' + ($json.error || '未知錯誤') + '_\\n\\n💡 請稍後重試，或聯繫管理員。' : 'ℹ️ 此訊息未包含可辨識的日程資訊，未建立日曆事件。\\n\\n💭 *AI 分析*: _' + ($json.reasoning || '無') + '_\\n\\n💡 如需建立日曆事件，請提供明確的日期、時間和活動內容。' }}\n\n_🤖 由 AI 助手自動分析_"
      },
      "position": [
        1168,
        660
      ],
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "webhookId": "4320ec41-4ba0-4434-8d28-f05e998226b4"
    },
    {
      "credentials": {
        "slackApi": {
          "id": "H8RWtu7aOphSXGk5",
          "name": "Slack account"
        }
      },
      "id": "send-error-notification",
      "name": "Send Error Notification",
      "parameters": {
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C08NVUQUK8F"
        },
        "messageType": "text",
        "operation": "post",
        "otherOptions": {},
        "resource": "message",
        "select": "channel",
        "text": "=❌ *Workflow 執行錯誤*\n\n💭 *錯誤訊息*: _{{ $json.error && $json.error.message ? $json.error.message : ($json.message || '未知錯誤') }}_\n\n📋 請檢查 n8n 執行紀錄以取得完整錯誤資訊。\n\n_🤖 由 AI 助手自動通報_"
      },
      "position": [
        1616,
        760
      ],
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "webhookId": "02e75cad-6313-4eea-ad2a-bd1b53dde156"
    },
    {
      "id": "8647c7c5-4e06-482e-8fd8-df39c3077d31",
      "name": "Analyze Message with AI",
      "onError": "continueErrorOutput",
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=你是一個專業的日程管理助手。請分析用戶的 Slack 訊息，提取可能的日程信息。\n\n🎯 **重要原則：每個分析結果只產生一個主要事件，將所有相關活動整合為完整的活動描述**\n\n⚠️ **非日程訊息處理（最重要）**：\n- 如果訊息完全不包含任何日程、活動、會議、聚會相關內容（例如：問候、閒聊、天氣討論、推薦請求等），**必須**回傳 `hasEvent: false`。\n- 只有在訊息確實提到可辨識的活動/會議/聚會/旅遊等日程相關內容時，才設定 `hasEvent: true`。\n- 不確定時，寧可回傳 `hasEvent: false`，也不要產生空白或無意義的事件。\n\n🔍 **地點偵測規則**：\n1. 移動動詞後的地點：「去XX」、「到XX」、「往XX」、「赴XX」、「前往XX」、「出發到XX」、「飛往XX」\n2. 位置介詞後的地點：「在XX」、「於XX」、「位於XX」、「XX舉行」、「XX進行」、「XX召開」\n3. 地點提取優先順序：具體地址 > 建築名稱 > 城市名稱 > 區域名稱\n4. 多地點活動：選擇主要集合地點或最重要的地點作為主要 location\n\n📅 **活動類型識別**：\n- **全天活動**：旅遊、一日遊、出差、休假、節日慶典、研習營、工作坊、多地點行程（即使有集合時間也算全天）、只提到日期沒有具體時間\n- **定時活動**：單一地點的會議/簡報、有明確開始和結束時間的短時間活動、非旅遊性質的定時聚會\n\n🕐 **當前日期時間基準**：{{ DateTime.now().setZone('Asia/Taipei').toFormat('yyyy年MM月dd日 (cccc)', { locale: 'zh-TW' }) }}（台北時間）\n\n⏰ **時間格式規則**：\n- 全天活動：startDateTime 和 endDateTime 都設為 \"YYYY-MM-DD\"，isAllDay: true\n- 定時活動：使用 ISO 8601 格式 \"YYYY-MM-DDTHH:mm:ss+08:00\"，isAllDay: false\n- **年份推斷**：如果訊息中有指定年份就用該年份；如果只有月/日，提到的月份已過去就用下一年，當前月份或之後就用今年。當前日期為 {{ DateTime.now().setZone('Asia/Taipei').toFormat('yyyy-MM-dd') }}。若無法推斷，預設使用 {{ DateTime.now().setZone('Asia/Taipei').toFormat('yyyy') }} 年。\n- 時區：Asia/Taipei (+08:00)\n- 全天活動的開始和結束時間應該相同，格式為純日期\n\n📋 **描述內容建構**：包含集合資訊、行程安排、費用明細、參與者資訊、攜帶物品、注意事項、相關連結（如訊息中有提及）。\n\n👥 **attendees 欄位請保持空陣列 []**，避免發送 Google Calendar 通知。所有參與者資訊寫在 description 中。\n\n🎯 **信心度評估**：\n- 0.9+：完整時間+地點+詳細行程+參與者\n- 0.7-0.9：明確時間和地點，部分詳細\n- 0.5-0.7：基本時間或地點，缺少詳細\n- <0.5：缺乏關鍵信息\n\n請按照以下 JSON 格式回覆，不要添加任何其他文字：\n{\n  \"hasEvent\": true,\n  \"events\": [\n    {\n      \"title\": \"活動標題\",\n      \"description\": \"詳細描述\",\n      \"startDateTime\": \"YYYY-MM-DD 或 YYYY-MM-DDTHH:mm:ss+08:00\",\n      \"endDateTime\": \"同上\",\n      \"isAllDay\": true,\n      \"location\": \"地點\",\n      \"attendees\": [],\n      \"confidence\": 0.95\n    }\n  ],\n  \"reasoning\": \"分析原因\"\n}\n\n如果沒有日程，回覆：\n{\n  \"hasEvent\": false,\n  \"events\": [],\n  \"reasoning\": \"說明為何沒有日程\"\n}\n\n請分析使用者發送的訊息，直接回覆 JSON 格式，不要包含 ```json 標記。"
            }
          ]
        },
        "promptType": "define",
        "text": "={{ $json.text }}"
      },
      "position": [
        688,
        464
      ],
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9
    },
    {
      "credentials": {
        "azureEntraCognitiveServicesOAuth2Api": {
          "id": "82mlP2DDo7j1VGdC",
          "name": "Azure Open AI account Entra ID"
        }
      },
      "id": "2dafdd15-fc8c-468f-ab93-caf25ce29c9f",
      "name": "Azure OpenAI gpt-5.2",
      "parameters": {
        "authentication": "azureEntraCognitiveServicesOAuth2Api",
        "model": "gpt-5.2",
        "options": {}
      },
      "position": [
        768,
        688
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Analyze Message with AI": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse AI Response",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send Error Notification",
            "type": "main"
          }
        ]
      ]
    },
    "Azure OpenAI gpt-5.2": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Analyze Message with AI",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Check Confidence Score": {
      "main": [
        [
          {
            "index": 0,
            "node": "Create Calendar Event",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send Low Confidence Alert",
            "type": "main"
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Success Notification",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send Error Notification",
            "type": "main"
          }
        ]
      ]
    },
    "Filter Valid Messages": {
      "main": [
        [
          {
            "index": 0,
            "node": "Analyze Message with AI",
            "type": "main"
          }
        ]
      ]
    },
    "Has Valid Event": {
      "main": [
        [
          {
            "index": 0,
            "node": "Check Confidence Score",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Send No Event Reply",
            "type": "main"
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "index": 0,
            "node": "Has Valid Event",
            "type": "main"
          }
        ]
      ]
    },
    "Slack Message Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Filter Valid Messages",
            "type": "main"
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "Asia/Taipei",
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ee7f9a49-a52d-468f-b6d5-89b67bd7774e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f325a7cd315a1a79ed49dc0c3f91bbcfea6ece3018280e4ffc9f22ce531b657"
  },
  "id": "I2dch7ZKvBvX6GVC",
  "tags": []
}